.body {
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    right: 300px;
    top:500px;
    box-shadow: 20px 10px 50px 10px;
}

.torso{
    width: 250px;
    height: 250px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    right: 325px;
    top: 290px;
    box-shadow: 20px 10px 50px 10px;
}


.head {
    width: 180px;
    height: 180px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    right: 360px;
    top:135px;
    box-shadow: 20px 10px 50px 10px;
}

/* this is part of the stomach */
.button_one {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 440px;
    top:450px;
}

/* this is part of the stomach */
.button_two {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 440px;
    top:390px
}

/* this is part of the stomach */
.button_three {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 440px;
    top:330px
}


.nose{
    height: 10px;
    width: 0px;
    border-left: 70px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 30px solid orange;
    position: absolute;
    top: 210px;
    right: 450px;
    
}


.eye_one {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    right: 420px;
}


.eye_two {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    right: 480px;
}


.smile_one {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 260px;
    right: 490px;
}


.smile_two {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 270px;
    right: 470px;
}


.smile_three {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 275px;
    right: 445px;
}


.smile_four {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 270px;
    right: 420px;
}


.smile_five {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 260px;
    right: 400px;
}


.left_hand {
    width:200px;
    height:20px;
    background-color: brown;
    position: absolute;
    top: 450px;
    right: 520px;
    rotate: -45deg;
}


.right_hand {
    width:200px;
    height:20px;
    background-color: brown;
    position: absolute;
    top: 450px;
    right: 190px;
    rotate: 45deg;
}

/* Bottom part of the top hat */
.bottom {
    width:120px;
    height:20px;
    background-color: black;
    position: absolute;
    top: 130px;
    right: 390px;
}

/* the red thats part of the hat */
.red {
    width:60px;
    height:20px;
    background-color: red;
    position: absolute;
    top: 110px;
    right: 420px;
    z-index: 2;
}

/* the top part of the top hat */
.top {
    width:60px;
    height:90px;
    background-color: black;
    position: absolute;
    top: 40px;
    right: 420px;
}


.left_leg {
    width:60px;
    height:20px;
    background-color: brown;
    position: absolute;
    top: 750px;
    right: 520px;
    rotate: -45deg;
}


.right_leg {
    width:60px;
    height:20px;
    background-color: brown;
    position: absolute;
    top: 755px;
    right: 320px;
    rotate: 45deg;
}


.background {
    width:2000px;
    height:900px;
    background-color:rgb(75, 75, 255);
}